# Node modules (dependencies)
node_modules/

# Environment variables / secrets
.env
api_key.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Optional: OS-specific junk
.DS_Store
Thumbs.db

# vscode
.vscode/